// --------------------
// Definition of variables
$primary: #32c3ff;

// --------------------
// Style reusable for all components

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    padding: 10px;
    color: #363A36;
    width: 100%;
    background-size: cover;
    height: 80px;
    border-bottom: 5px solid orange;

    a {
      color: #363A36;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2  em;
    filter: grayscale(100%); 
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.eachBeer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.eachBeer img {
  height: 200px;  
  width: 63px;
  margin: 15px;
}

.Beers {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 20px 0 20px 60px;
  padding: 10px;
  height: 50%;
}

.beerDeets {
  width: 50%;
  box-shadow: 10px 5px 5px gray;
  border-radius: 10px;
  height: auto;
}

.Home img {
  height: 750px;
  width: 100%;
}

.brewSearch {
  display: flex;
  justify-content: center;
}

.search {
  width: 40%;
  border-radius: 5px;   
} 

.Signup {
  margin-top: 70px;
}

.hoverButton {
  background-color: lightgray;
  transition: .5s;
}

.hoverButton:hover {
  background-color: orange;
  transition: .5s;
}

h2 {
  font-weight: bold;
}

input:focus {
  outline: 5px auto orange;
}

.navbar-dark .navbar-nar .navbar-link {
  color: #363A36 !important;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
  color: #363A36;
}

.navbar a:hover {
  color: orange;
}

a.nav-item.logo {
  font-size: 24px;
}

.orange {
  color: orange;
}

a.waves-effect.waves-light {
  border: 1px solid black;
  margin-right: 50px;
  color: green;
}